<%= require('html-loader!./header.html') %>
			
            <!-- site content -->
			<main class="site-content">
				<section class="file-section">
					<h1 class="h1">Kas mēs esam?</h1>
					<p class="inline-x-r">
						Mēs esam tie, kas tic, ka Latvijā mēs varam izaudzēt ķiplokus un nodrošināt mūsu Latvijas iedzīvotājus ar kvalitatīvu produkciju no ražas līdz ražai, nodrošinot attīstību Latvijas mazajām un vidējām zemnieku saimniecībām.
					</p>
				</section>

				<section class="test-section">
					<h1 class="h1">Ko mēs darām?</h1>
					<p>
						Mēs neaudzējām ķiploku, jo mēs ticam, ka ķiploks ir īpašs, viņš prasa uzmanību, aprūpi un mīlestību katru dienu, ko vislabāk un galvenais pareizā apjomā var nodrošināt zemnieks tāpēc mēs darām visu pārējo - gādājam ķiploku sēklas materiālu, sagatavojam to stādīšanai, vajadzības gadījumā palīdzam iestādīt un aprūpēt, lai ķiploks justos labi un augtu bagāts. Mēs iepērkam zemnieku izaudzēto tieši no lauka, tīrām to un žāvējam, šķirojam un glabājam. Sagatavojam pārdošanai veikaliem, tirgiem, kā arī pārstrādājam tālākos produktos kurus izmanto konservēšanas cehi, gaļas un zivju pārstrādes uzņēmumi.
					</p>
					<p>
						Mēs meklējam latvietības sadarbības formu - mēs respektējam individualitāti, bet zinām konkurētspējas likumus, kurus apiet nav iespējams.
					</p>
				</section>

				<section class="test-section">
					<h1 class="h1">Zemniekiem</h1>
					<p>
						Daudzi ir dzirdējuši par ķiploku audzēšanas bumu Latvijā, kurš ir sācies pēdējo gadu laikā, nenoliedzami daudzi ir metušies iekšā audzēšanā, maigi izsakoties pārgalvīgi, investējot resursus - gan naudu, gan laiku un ļoti bieži diemžēl ciešot smagu fiasko.
					</p>
					<p>
						Arī mēs esam piedzīvojuši smagas mācībstundas un nu jau arī "mācībgadus".
					</p>

					<h2>Mēs neesam padevušies un turpinām strādāt!</h2>
					<p>
						Sākam ar to, ka varam dalīties pieredzē ar "jaunajiem" un uzklausīt tos kas ir uzkrājuši pieredzi ķiploku laukā.
					</p>
					<p>
						Izprotot vajadzības mēs organizējam kopīgu licencētu sēklas materiāla iegādi un piegādi no Eiropas ķiploku sēklaudzētājiem. Drīzumā arī no Ukrainas.
					</p>
					<p>
						Būtisks izaicinājums sēklas materiālā sagatavošanā ir daivošana, ko mazos apjomos var paveikt ar rokām, bet pie apjoma 100 un vairāk kilogrami, tas kļūst ne tikai fiziski smagi, bet arī laikietilpīgi, kas ir būtisks apstāklis, kad "minūte druvā ir dārga". Arī šeit mēs nākam talkā - spējot sagatavot vismaz 6 tonnas daivota sēklas materiāla vienā maiņā, kas ir ne tikai ātrāk, bet arī vismaz 2 reizes lētāk, kā darot to ar rokām.
					</p>
					<p>
						Stādīšana ir process. kuru mēs iesakām zemniekiem organizēt pašiem, jo to ir grūti prognozēt Latvijas mainīgajos klimatiskajos apstākļos, tomēr mēs nekad neatteiksim, ja būs iespēja palīdzēt grūtā brīdī.
					</p>

					<h2>Mēs labprāt sadarbosimies izaudzētā realizācijā, ja:</h2>
					<ol>
						<li>
							Ķiploka sēklas materiāls ticis iegādāts caur mums vai citu zināmu respektablu kompāniju, vai palicis no iepriekšējā gada ražas, par kuru jau mēs esam sadarbojušies.
						</li>
						<li>
							Reģistrēta Primārā ražošana PVD.
						</li>
						<li>
							Ievērotas visas normas attiecībā uz AAL lietošanu.
						</li>
						<li>
							Nav puves un kukaiņu bojāmi.
						</li>
						<li>
							Pēc novākšanas nav pagājušas vairāk kā 48 stundas un ķiploks ir novākts atbilstoši rekomendācijām.
						</li>
					</ol>
				</section>

				<section>
					<h1 class="h1">Tirgotājiem</h1>
						<p>
							Mēs cienām savus klientus un vēlamies Jūs nodrošināt ar pašu labāko, tāpēc mums ir svarīgi zināt un izprast Jūsu vēlmes, mēs esam gatavi pielāgoties līdz varam panākt savstarpēju izdevīgumu.
						</p>
						<p>
							Mēs piedāvājam dažādu kalibru ķiploku galvas fasētas tīkla tipa maisos, kartona kastēs vai pēc skaita mazos iepakojumos, kā arī atgriežamajā tarā.
						</p>
						<p>
							Nodrošinām produktu marķēšanu atbilstoši normatīvo aktu prasībām un tirgotāja rekomendācijām.
						</p>
						<p>
							Mūsu prioritāte ir Latvijā audzēti ķiploki, bet pieprasījuma piedāvājuma ceļi  var būt neparedzami, tāpēc ja Latvijas ķiploks beidzas, tas ir mūsu uzdevums nodrošināt Jūs ar alternatīvu.
						</p>

						<h2>HORECA sektors</h2>
							<p>
								Mēs ticam, ka Jums ir būtiski ātrums, pieejamība un nemainīga kvalitāte, ja tā ir tad mēs varam Jums piedāvāt ķiploku galvas, ķiploku daivas vai lobītas ķiploku daivas vakuuma iepakojumā u.c. produktus. Slēdzam līgumus uz gadu un vienojamies par nodrošinājumu konkrētiem apjomiem/ šķirnēm/ audzētājiem.
							</p>

					<h2>Pārstrādātāji</h2>
						<p>
							Desa, zivs vai marinēti gurķīši, tie visi ir pelnījuši Latvijas ķiploku īstai garšai.
						</p>
						<p>
							Ķiploki lobīti, malti, ķiploku pārslas, granulas ir mūsu izaicinājums Jums piedāvāt.
						</p>
						<p>
							Ja varbūt, kāds produkts šobrīd vēl nav pieejams, tad mūsu uzdevums ir spēt Jums to piedāvāt, tālākā izvēle jau ir Jūsu ziņā.
						</p>
						<p>
							Slēdzam ilgtermiņa līgumus un nodrošinām nepārtrauktu piegādes ciklu.
						</p>

					<h2>Tehnikas un tehnoloģisko iekārtu piegādātājiem</h2>
						<p>
							Lai būtu līderi kādā nozarē, ir būtiski sadarboties ar līderiem. Mēs esam atvērti jauniem tehnoloģiskiem risinājumiem un progresīvai tehnikai ķiploku audzēšanas un pēcapstrādes jomā. Uzsākot sadarbību ar mums, jūs nodrošināsiet pieeju Latvijas liekākajai un aktīvākajai ķiploku nozares pārstāvju daļai.
						</p>
						<p>
							Rīkojot seminārus un prezentācijas kopā ar mums Jūs iegūsiet pieeju mērķa klientiem un kvalitatīvu tūlītēju atgriezenisko saiti.
						</p>

					<h2>Sniedzam sekojošus pakalpojumus uzņēmumiem:</h2>
						<ol>
							<li>Produktu piegāde</li>
							<li>Ķiploku tīrīšana</li>
							<li>Ķiploku galvu šķirošana</li>
							<li>Ķiploku galvu sadalīšana galvās</li>
							<li>Ķiploku daivu šķirošana</li>
							<li>Ķiploku daivu lobīšana</li>
							<li>Iepakošana vakuumā</li>
							<li>Ķiploku uzglabāšana</li>
							<li>Fasēšana un marķēšana</li>
						</ol>
				</section>

				<section>
					<h1 class="h1">Jaunumi</h1>

						<div>
							<img src="" alt="">
							<h2></h2>
							<p></p>
						</div>
						<div>
							<img src="" alt="">
							<h2></h2>
							<p></p>
						</div>
						<div>
							<img src="" alt="">
							<h2></h2>
							<p></p>
						</div>

						<h2>Pieraksties jaunumiem</h2>
							<h3>Ķiploku aprūpe - būtiska ir informācijas apmaiņa, piesakies jaunumiem un saņem jaunāko informāciju par to ko esam uzzinājuši mēs:</h3>
							<ol>
								<li>Jaunumi par AAL</li>
								<li>Novērojumi uz lauka - slimības, kaitēkļi, šķirņu augšanas specifika</li>
								<li>Novākšana</li>
								<li>Informatīvie semināri, tehnikas prezentācijas utt.</li>
								<li>Ražas iepirkšana no zemniekiem</li>
							</ol>

							<form>
							    <legend>Jūs esat:</legend>

							        <input type="radio" id="huey" name="drone" checked>
							        <label for="huey">Zemnieks</label>

							        <input type="radio" id="dewey" name="drone">
							        <label for="dewey">Tirgotājs</label>

							    <legend>E-pasta adrese:</legend>

							        <input type="text" name="email">

							        <input type="submit" value="Pierakstīties">

							</form>
				</section>

				<section>
					<h1>Konakti</h1>
						<h2>Sadarbība ar zemniekiem</h2>
							<figure>
							    <img src="" alt="">
							    <figcaption>
							    	Māris Linde
									+371 29290101
									ml@apiagro.com
								</figcaption>
							</figure>

						<h2>Sadarbība ar tirgotājiem un HORECA sektoru</h2>
							<figure>
							    <img src="" alt="">
							    <figcaption>
							    	Māris Linde
									+371 29290101
									ml@apiagro.com
								</figcaption>
							</figure>

						<h2>Sadarbība ar Pāstrādātājiem</h2>
							<figure>
							    <img src="" alt="">
							    <figcaption>
							    	Māris Linde
									+371 29290101
									ml@apiagro.com
								</figcaption>
							</figure>

					<address>
					    SIA "Api Agro"
						Cēsu iela 31, k-3, Rīga, Latvija, LV-1012
						+371 29290101
						api@agro.lv

					<h2>Sazinies ar mums</h2>
						<form>

						    <input type="text" id="fname" name="firstname" placeholder="Vārds">

						    <input type="text" id="lname" name="lastname" placeholder="E-pasts">

						    <textarea id="subject" name="subject" placeholder="Jautājums"></textarea>

						    <input type="submit" value="Aizsūtīt">

						</form>

					</address>
				</section>
			</main>
            <!-- /site content -->

<%= require('html-loader!./footer.html') %>