<%= require('html-loader!./header.html') %>
			
            <!-- site content -->
			<main class="site-content">
				<section class="section bg-default">
					<div class="container">
                    	<div class="about row">
                    		<div class="col col-4">
                    			<img class="img" src="${require(`./img/garlic-1.png`)}" alt="Garlic">
                    		</div>
	                        	<div class="section-inner col col-6 border-brown inline-x-r">
									<h1 class="h1">Kas mēs esam?</h1>
									<p class="pull-right col-10">
										Mēs esam tie, kas tic, ka Latvijā mēs varam izaudzēt ķiplokus un nodrošināt mūsu Latvijas iedzīvotājus ar kvalitatīvu produkciju no ražas līdz ražai, nodrošinot attīstību Latvijas mazajām un vidējām zemnieku saimniecībām.
									</p>
								</div>
						</div>

						<div class="row flex-x-c">
							<div class="col col-8 flex-x-r">
							<button class="btn-1 col col-3 all-caps">
								<img class="col" src="${require(`./img/play-button.png`)}" alt="Play button">Skatīt video</button>
							</div>
						</div>
					</div>
					<img src="${require(`./img/brush.png`)}" alt="Brush">
				</section>

				<section class="section flex-y-c">
					<div class="container">
                    	<div class="doing row flex-x-c">
                    		<div class="section-inner col-8 border-brown">
								<h1 class="h1">Ko mēs darām?</h1>
								<p class="col-8">
									Mēs neaudzējām ķiploku, jo mēs ticam, ka ķiploks ir īpašs, viņš prasa uzmanību, aprūpi un mīlestību katru dienu, ko vislabāk un galvenais pareizā apjomā var nodrošināt zemnieks tāpēc mēs darām visu pārējo - gādājam ķiploku sēklas materiālu, sagatavojam to stādīšanai, vajadzības gadījumā palīdzam iestādīt un aprūpēt, lai ķiploks justos labi un augtu bagāts. Mēs iepērkam zemnieku izaudzēto tieši no lauka, tīrām to un žāvējam, šķirojam un glabājam. Sagatavojam pārdošanai veikaliem, tirgiem, kā arī pārstrādājam tālākos produktos kurus izmanto konservēšanas cehi, gaļas un zivju pārstrādes uzņēmumi.
								</p>
								<br>
								<p class="col-8">
									Mēs meklējam latvietības sadarbības formu - mēs respektējam individualitāti, bet zinām konkurētspējas likumus, kurus apiet nav iespējams.
								</p>
							</div>
							<!--
							<img class="img" src="${require(`./img/tractor.jpg`)}" alt="Tractor">
							<img class="img" src="${require(`./img/hand.jpg`)}" alt="Hand">
							-->
						</div>
					</div>
				</section>

				<section class="section bg-default">
					<img src="${require(`./img/brush-up.png`)}" alt="Brush">
						<div class="container">
	                    	<div class="doing row flex-x-c">
	                    		<div class="section-inner col-8">
									<h1 class="h1 inline-x-c">Zemniekiem</h1>
									<p>
										Daudzi ir dzirdējuši par ķiploku audzēšanas bumu Latvijā, kurš ir sācies pēdējo gadu laikā, nenoliedzami daudzi ir metušies iekšā audzēšanā, maigi izsakoties pārgalvīgi, investējot resursus - gan naudu, gan laiku un ļoti bieži diemžēl ciešot smagu fiasko.
									</p>
									<p>
										Arī mēs esam piedzīvojuši smagas mācībstundas un nu jau arī "mācībgadus".
									</p>

									<h2 class="all-caps">Mēs neesam padevušies un turpinām strādāt!</h2>
									<p>
										Sākam ar to, ka varam dalīties pieredzē ar "jaunajiem" un uzklausīt tos kas ir uzkrājuši pieredzi ķiploku laukā.
									</p>
									<p>
										Izprotot vajadzības mēs organizējam kopīgu licencētu sēklas materiāla iegādi un piegādi no Eiropas ķiploku sēklaudzētājiem. Drīzumā arī no Ukrainas.
									</p>
									<p>
										Būtisks izaicinājums sēklas materiālā sagatavošanā ir daivošana, ko mazos apjomos var paveikt ar rokām, bet pie apjoma 100 un vairāk kilogrami, tas kļūst ne tikai fiziski smagi, bet arī laikietilpīgi, kas ir būtisks apstāklis, kad "minūte druvā ir dārga". Arī šeit mēs nākam talkā - spējot sagatavot vismaz 6 tonnas daivota sēklas materiāla vienā maiņā, kas ir ne tikai ātrāk, bet arī vismaz 2 reizes lētāk, kā darot to ar rokām.
									</p>
									<p>
										Stādīšana ir process. kuru mēs iesakām zemniekiem organizēt pašiem, jo to ir grūti prognozēt Latvijas mainīgajos klimatiskajos apstākļos, tomēr mēs nekad neatteiksim, ja būs iespēja palīdzēt grūtā brīdī.
									</p>

								<div class="container">
									<div class="doing row c-white">
										<img src="${require(`./img/brush-brown.png`)}" alt="Brush brown">
										<div class="section-inner bg-accent">
											<h2 class="all-caps">Mēs labprāt sadarbosimies izaudzētā realizācijā, ja:</h2>
												<ol>
													<li>
														Ķiploka sēklas materiāls ticis iegādāts caur mums vai citu zināmu respektablu kompāniju, vai palicis no iepriekšējā gada ražas, par kuru jau mēs esam sadarbojušies.
													</li>
													<li>
														Reģistrēta Primārā ražošana PVD.
													</li>
													<li>
														Ievērotas visas normas attiecībā uz AAL lietošanu.
													</li>
													<li>
														Nav puves un kukaiņu bojāmi.
													</li>
													<li>
														Pēc novākšanas nav pagājušas vairāk kā 48 stundas un ķiploks ir novākts atbilstoši rekomendācijām.
													</li>
												</ol>
											</div>
											<img src="${require(`./img/brush-brown-down.png`)}" alt="Brush brown down">
										</div>
									</div>
								</div>
							</div>
						</div>
					<img src="${require(`./img/brush.png`)}" alt="Brush">
				</section>

				<section class="section">
					<div class="container">
	                    	<div class="doing row flex-x-c">
	                    		<div class="section-inner col-8">
									<h1 class="h1 inline-x-c">Tirgotājiem</h1>
										<p>
											Mēs cienām savus klientus un vēlamies Jūs nodrošināt ar pašu labāko, tāpēc mums ir svarīgi zināt un izprast Jūsu vēlmes, mēs esam gatavi pielāgoties līdz varam panākt savstarpēju izdevīgumu.
										</p>
										<p>
											Mēs piedāvājam dažādu kalibru ķiploku galvas fasētas tīkla tipa maisos, kartona kastēs vai pēc skaita mazos iepakojumos, kā arī atgriežamajā tarā.
										</p>
										<p>
											Nodrošinām produktu marķēšanu atbilstoši normatīvo aktu prasībām un tirgotāja rekomendācijām.
										</p>
										<p>
											Mūsu prioritāte ir Latvijā audzēti ķiploki, bet pieprasījuma piedāvājuma ceļi  var būt neparedzami, tāpēc ja Latvijas ķiploks beidzas, tas ir mūsu uzdevums nodrošināt Jūs ar alternatīvu.
										</p>

										<h2 class="h2 all-caps">Horeca sektors</h2>
											<p>
												Mēs ticam, ka Jums ir būtiski ātrums, pieejamība un nemainīga kvalitāte, ja tā ir tad mēs varam Jums piedāvāt ķiploku galvas, ķiploku daivas vai lobītas ķiploku daivas vakuuma iepakojumā u.c. produktus. Slēdzam līgumus uz gadu un vienojamies par nodrošinājumu konkrētiem apjomiem/ šķirnēm/ audzētājiem.
											</p>

									<h2 class="h2 all-caps">Pārstrādātāji</h2>
										<p>
											Desa, zivs vai marinēti gurķīši, tie visi ir pelnījuši Latvijas ķiploku īstai garšai.
										</p>
										<p>
											Ķiploki lobīti, malti, ķiploku pārslas, granulas ir mūsu izaicinājums Jums piedāvāt.
										</p>
										<p>
											Ja varbūt, kāds produkts šobrīd vēl nav pieejams, tad mūsu uzdevums ir spēt Jums to piedāvāt, tālākā izvēle jau ir Jūsu ziņā.
										</p>
										<p>
											Slēdzam ilgtermiņa līgumus un nodrošinām nepārtrauktu piegādes ciklu.
										</p>

									<h2 class="h2 all-caps">Tehnikas un tehnoloģisko iekārtu piegādātājiem</h2>
										<p>
											Lai būtu līderi kādā nozarē, ir būtiski sadarboties ar līderiem. Mēs esam atvērti jauniem tehnoloģiskiem risinājumiem un progresīvai tehnikai ķiploku audzēšanas un pēcapstrādes jomā. Uzsākot sadarbību ar mums, jūs nodrošināsiet pieeju Latvijas liekākajai un aktīvākajai ķiploku nozares pārstāvju daļai.
										</p>
										<p>
											Rīkojot seminārus un prezentācijas kopā ar mums Jūs iegūsiet pieeju mērķa klientiem un kvalitatīvu tūlītēju atgriezenisko saiti.
										</p>

								<div class="container">
									<div class="row">
										<img src="${require(`./img/brush-yellow.png`)}" alt="Brush yellow">
										<div class="bg-default">
											<h2 class="h2 all-caps">Sniedzam sekojošus pakalpojumus uzņēmumiem:</h2>
												<ol>
													<li>Produktu piegāde</li>
													<li>Ķiploku tīrīšana</li>
													<li>Ķiploku galvu šķirošana</li>
													<li>Ķiploku galvu sadalīšana galvās</li>
													<li>Ķiploku daivu šķirošana</li>
													<li>Ķiploku daivu lobīšana</li>
													<li>Iepakošana vakuumā</li>
													<li>Ķiploku uzglabāšana</li>
													<li>Fasēšana un marķēšana</li>
												</ol>
										</div>
										<img src="${require(`./img/brush-yellow-down.png`)}" alt="Brush yellow down">
									</div>
								</div>

									</div>
								</div>
							</div>
				</section>

				<section class="section bg-accent">
					<img src="${require(`./img/brush-up.png`)}" alt="Brush">
									<h1 class="h1 inline-x-c c-white">Jaunumi</h1>

									<div class="container">
				                    	<div class="doing row">
				                    		<div class="flex-inline">

												<div class="col col-4">
													<img class="img" src="${require(`./img/news-pic1.jpg`)}" alt="Garlics">
													<h2 class="c-default">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
													<p class="c-white">Praesent eu porttitor nunc, sed finibus felis. Vivamus suscipit felis augue, eu ullamcorper justo maximus eget. Integer eget neque semper, aliquam lacus in...</p>
													<time class="time-color">2018.05.18</time>
												</div>
												<div class="col col-4">
													<img class="img" src="${require(`./img/news-pic2.jpg`)}" alt="Garlics">
													<h2 class="c-default">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
													<p class="c-white">Praesent eu porttitor nunc, sed finibus felis. Vivamus suscipit felis augue, eu ullamcorper justo maximus eget. Integer eget neque semper, aliquam lacus in...</p>
													<time class="time-color">2018.05.18</time>
												</div>
												<div class="col col-4">
													<img class="img" src="${require(`./img/news-pic3.jpg`)}" alt="Garlics">
													<h2 class="c-default">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
													<p class="c-white">Praesent eu porttitor nunc, sed finibus felis. Vivamus suscipit felis augue, eu ullamcorper justo maximus eget. Integer eget neque semper, aliquam lacus in...</p>
													<time class="time-color">2018.05.18</time>
												</div>

											</div>
										</div>
									</div>

									<aside>
										<div class="container col col-6 bg-default">
											<div class="row">
												<div class="section-inner flex-inline bg-default">
													<h2 class="h2 news-h2 col col-4">Pieraksties jaunumiem</h2>
													<div class="col col-8">
														<h3 class="h3 all-caps">Ķiploku aprūpe - būtiska ir informācijas apmaiņa, piesakies jaunumiem un saņem jaunāko informāciju par to ko esam uzzinājuši mēs:</h3>
														<ol>
															<li>Jaunumi par AAL</li>
															<li>Novērojumi uz lauka - slimības, kaitēkļi, šķirņu augšanas specifika</li>
															<li>Novākšana</li>
															<li>Informatīvie semināri, tehnikas prezentācijas utt.</li>
															<li>Ražas iepirkšana no zemniekiem</li>
														</ol>
													</div>
												</div>
											</div>
										</div>


											<div class="container col col-6 bg-white">
												<div class="row">
													<form class="section-inner all-caps flex-inline">
														<div class="col col-5">
														    <legend>Jūs esat:</legend>
														        <input type="radio" id="" name="" checked>
														        <label for="huey">Zemnieks</label>

														        <input type="radio" id="" name="">
														        <label for="dewey">Tirgotājs</label>
													    </div>

													    <div class="col col-7">
														    <legend>E-pasta adrese:</legend>
														        <input type="text" name="email">
														        <input class="btn-1" type="submit" value="Pierakstīties">
													    </div>

													</form>
												</div>
											</div>
									</aside>

				</section>

				<section class="section">
					<div class="container">
	                    	<div class="row flex-x-c">
	                    		<div class="section-inner col-8">
									<h1 class="h1 inline-x-c">Konakti</h1>
										<h2 class="h2">Sadarbība ar zemniekiem</h2>
											<figure>
											    <img src="" alt="">
											    <figcaption>
											    	Māris Linde
													+371 29290101
													ml@apiagro.com
												</figcaption>
											</figure>

										<h2 class="h2">Sadarbība ar tirgotājiem un HORECA sektoru</h2>
											<figure>
											    <img src="" alt="">
											    <figcaption>
											    	Māris Linde
													+371 29290101
													ml@apiagro.com
												</figcaption>
											</figure>

										<h2 class="h2">Sadarbība ar Pāstrādātājiem</h2>
											<figure>
											    <img src="" alt="">
											    <figcaption>
											    	Māris Linde
													+371 29290101
													ml@apiagro.com
												</figcaption>
											</figure>

									<address>
									    SIA "Api Agro"
										Cēsu iela 31, k-3, Rīga, Latvija, LV-1012
										+371 29290101
										api@agro.lv

									<h2 class="h2">Sazinies ar mums</h2>
										<form>

										    <input type="text" id="fname" name="firstname" placeholder="Vārds">

										    <input type="text" id="lname" name="lastname" placeholder="E-pasts">

										    <textarea id="subject" name="subject" placeholder="Jautājums"></textarea>

										    <input type="submit" value="Aizsūtīt">

										</form>

									</address>

								</div>
							</div>
						</div>
				</section>
			</main>
            <!-- /site content -->

<%= require('html-loader!./footer.html') %>