<%= require('html-loader!./header.html') %>
			
            <!-- site content -->
			<main class="site-content">
				<section id="kas-mes-esam" class="section bg-default">
					<div class="container">
						<img class="img absolute-lg block-x-c top-image" src="${require(`./img/garlic-1.png`)}" alt="Garlic">
                    	<div class="section1 row-full-w flex-x-c">
	                        	<article class="inner col-12 border-brown inline-x-r">
									<h1 class="h1">Kas mēs esam?</h1>
									<p>
										Mēs esam tie, kas tic, ka Latvijā mēs varam izaudzēt ķiplokus un nodrošināt mūsu Latvijas iedzīvotājus ar kvalitatīvu produkciju no ražas līdz ražai, nodrošinot attīstību Latvijas mazajām un vidējām zemnieku saimniecībām.
									</p>
								</article>
						</div>

							<div class="row-full-w flex-x-r video-btn">
									<button class="btn btn-1 all-caps bold">
										<img class="video-icon inline-y-c" src="${require(`./img/play-button.png`)}" alt="Play button">
										<span class="inline-y-c">Skatīt video</span>
									</button>
							</div>
					</div>

				<div class="section-bg brush-white"></div>
				</section>

				<section id="ko-mes-daram" class="section">
					<div class="container">
                    	<div class="section2 row flex-x-c">
                    			<div class="polygon-img-wrap absolute-lg">
									<img class="img relative" src="${require(`./img/polygon-img.png`)}" alt="Tractor $ hand">
								</div>
                    		<article class="inner col col-12 border-brown">
								<h1 class="h1">Ko mēs darām?</h1>
								<p class="p">
									Mēs neaudzējām ķiploku, jo mēs ticam, ka ķiploks ir īpašs, viņš prasa uzmanību, aprūpi un mīlestību katru dienu, ko vislabāk un galvenais pareizā apjomā var nodrošināt zemnieks tāpēc mēs darām visu pārējo - gādājam ķiploku sēklas materiālu, sagatavojam to stādīšanai, vajadzības gadījumā palīdzam iestādīt un aprūpēt, lai ķiploks justos labi un augtu bagāts. Mēs iepērkam zemnieku izaudzēto tieši no lauka, tīrām to un žāvējam, šķirojam un glabājam. Sagatavojam pārdošanai veikaliem, tirgiem, kā arī pārstrādājam tālākos produktos kurus izmanto konservēšanas cehi, gaļas un zivju pārstrādes uzņēmumi.
								</p>
								<br>
								<p class="p">
									Mēs meklējam latvietības sadarbības formu - mēs respektējam individualitāti, bet zinām konkurētspējas likumus, kurus apiet nav iespējams.
								</p>
							</article>
						</div>
					</div>
				</section>

				<section id="zemniekiem" class="section p-small bg-default">
					<div class="section-bg brush-white-up"></div>
						<div class="container">
	                    	<div class="section3 row flex-x-c">
	                    		<h1 class="h1">Zemniekiem</h1>
	                    		<div class="col col-xl-8 col-lg-8 col-md-12 inner">
										<p class="p p-small">
											Daudzi ir dzirdējuši par ķiploku audzēšanas bumu Latvijā, kurš ir sācies pēdējo gadu laikā, nenoliedzami daudzi ir metušies iekšā audzēšanā, maigi izsakoties pārgalvīgi, investējot resursus - gan naudu, gan laiku un ļoti bieži diemžēl ciešot smagu fiasko.
										</p>
										<p class="p p-small">
											Arī mēs esam piedzīvojuši smagas mācībstundas un nu jau arī "mācībgadus".
										</p>
										<h2 class="h2 h2 all-caps">Mēs neesam padevušies un turpinām strādāt!</h2>
										<p class="p p-small">
											Sākam ar to, ka varam dalīties pieredzē ar "jaunajiem" un uzklausīt tos kas ir uzkrājuši pieredzi ķiploku laukā.
										</p>
										<p class="p p-small">
											Izprotot vajadzības mēs organizējam kopīgu licencētu sēklas materiāla iegādi un piegādi no Eiropas ķiploku sēklaudzētājiem. Drīzumā arī no Ukrainas.
										</p>
										<p class="p p-small">
											Būtisks izaicinājums sēklas materiālā sagatavošanā ir daivošana, ko mazos apjomos var paveikt ar rokām, bet pie apjoma 100 un vairāk kilogrami, tas kļūst ne tikai fiziski smagi, bet arī laikietilpīgi, kas ir būtisks apstāklis, kad "minūte druvā ir dārga". Arī šeit mēs nākam talkā - spējot sagatavot vismaz 6 tonnas daivota sēklas materiāla vienā maiņā, kas ir ne tikai ātrāk, bet arī vismaz 2 reizes lētāk, kā darot to ar rokām.
										</p>
										<p class="p-small">
											Stādīšana ir process. kuru mēs iesakām zemniekiem organizēt pašiem, jo to ir grūti prognozēt Latvijas mainīgajos klimatiskajos apstākļos, tomēr mēs nekad neatteiksim, ja būs iespēja palīdzēt grūtā brīdī.
										</p>
								</div>
								
									<article class="col col-xl-8 col-lg-8 col-12 article">
											<div class="section-bg brush-brown"></div>
											<div class="inner c-white bg-accent">
												<h2 class="h2 all-caps">Mēs labprāt sadarbosimies izaudzētā realizācijā, ja:</h2>
												<ol class="ol list-style-none">
													<li>
														Ķiploka sēklas materiāls ticis iegādāts caur mums vai citu zināmu respektablu kompāniju, vai palicis no iepriekšējā gada ražas, par kuru jau mēs esam sadarbojušies.
													</li>
													<li>
														Reģistrēta Primārā ražošana PVD.
													</li>
													<li>
														Ievērotas visas normas attiecībā uz AAL lietošanu.
													</li>
													<li>
														Nav puves un kukaiņu bojāmi.
													</li>
													<li>
														Pēc novākšanas nav pagājušas vairāk kā 48 stundas un ķiploks ir novākts atbilstoši <a href="" class="c-default underline">rekomendācijām.</a>
													</li>
												</ol>
											</div>
											<div class="flex-x-r">
												<div class="brush-brown-down col-6"></div>
											</div>
									</article>
							</div>
						</div>

					<div class="brush-white"></div>
				</section>

				<section id="tirgotajiem" class="section p-small">
					<div class="container">
	                    	<div class="section4 row flex-x-c">
	                    		<h1 class="h1">Tirgotājiem</h1>
	                    			<div class="col col-xl-8 col-lg-8 col-12">
										<div class="inner">
												<p class="p p-small">
													Mēs cienām savus klientus un vēlamies Jūs nodrošināt ar pašu labāko, tāpēc mums ir svarīgi zināt un izprast Jūsu vēlmes, mēs esam gatavi pielāgoties līdz varam panākt savstarpēju izdevīgumu.
												</p>
												<p class="p p-small">
													Mēs piedāvājam dažādu kalibru ķiploku galvas fasētas tīkla tipa maisos, kartona kastēs vai pēc skaita mazos iepakojumos, kā arī atgriežamajā tarā.
												</p>
												<p class="p p-small">
													Nodrošinām produktu marķēšanu atbilstoši normatīvo aktu prasībām un tirgotāja rekomendācijām.
												</p>
												<p class="p p-small">
													Mūsu prioritāte ir Latvijā audzēti ķiploki, bet pieprasījuma piedāvājuma ceļi  var būt neparedzami, tāpēc ja Latvijas ķiploks beidzas, tas ir mūsu uzdevums nodrošināt Jūs ar alternatīvu.
												</p>

												<h2 class="h2 all-caps">Horeca sektors</h2>
													<p class="p p-small">
														Mēs ticam, ka Jums ir būtiski ātrums, pieejamība un nemainīga kvalitāte, ja tā ir tad mēs varam Jums piedāvāt ķiploku galvas, ķiploku daivas vai lobītas ķiploku daivas vakuuma iepakojumā u.c. produktus. Slēdzam līgumus uz gadu un vienojamies par nodrošinājumu konkrētiem apjomiem/ šķirnēm/ audzētājiem.
													</p>

											<h2 class="h2 all-caps">Pārstrādātāji</h2>
											<p class="p p-small">
												Desa, zivs vai marinēti gurķīši, tie visi ir pelnījuši Latvijas ķiploku īstai garšai.
											</p>
											<p class="p p-small">
												Ķiploki lobīti, malti, ķiploku pārslas, granulas ir mūsu izaicinājums Jums piedāvāt.
											</p>
											<p class="p p-small">
												Ja varbūt, kāds produkts šobrīd vēl nav pieejams, tad mūsu uzdevums ir spēt Jums to piedāvāt, tālākā izvēle jau ir Jūsu ziņā.
											</p>
											<p class="p p-small">
												Slēdzam ilgtermiņa līgumus un nodrošinām nepārtrauktu piegādes ciklu.
											</p>

											<h2 class="h2 all-caps">Tehnikas un tehnoloģisko iekārtu piegādātājiem</h2>
											<p  class="p p-small">
												Lai būtu līderi kādā nozarē, ir būtiski sadarboties ar līderiem. Mēs esam atvērti jauniem tehnoloģiskiem risinājumiem un progresīvai tehnikai ķiploku audzēšanas un pēcapstrādes jomā. Uzsākot sadarbību ar mums, jūs nodrošināsiet pieeju Latvijas liekākajai un aktīvākajai ķiploku nozares pārstāvju daļai.
											</p>
											<p class="p p-small">
												Rīkojot seminārus un prezentācijas kopā ar mums Jūs iegūsiet pieeju mērķa klientiem un kvalitatīvu tūlītēju atgriezenisko saiti.
											</p>
										</div>
									</div>

									<div class="col col-xl-8 col-lg-8 col-md-12 col-sm-12">
										<article class="article">
											<div class="section-bg brush-yellow"></div>
											<div class="inner bg-default">
												<h2 class="h2 all-caps">Sniedzam sekojošus pakalpojumus uzņēmumiem:</h2>
													<ol class="ol list-style-none">
														<li>Produktu piegāde</li>
														<li>Ķiploku tīrīšana</li>
														<li>Ķiploku galvu šķirošana</li>
														<li>Ķiploku galvu sadalīšana galvās</li>
														<li>Ķiploku daivu šķirošana</li>
														<li>Ķiploku daivu lobīšana</li>
														<li>Iepakošana vakuumā</li>
														<li>Ķiploku uzglabāšana</li>
														<li>Fasēšana un marķēšana</li>
													</ol>
											</div>
											<div class="flex-x-r">
												<div class="section-bg brush-yellow-down col-6"></div>
											</div>
										</article>
									</div>	
							</div>
					</div>
				</section>

				<section id="jaunumi" class="section bg-accent">
					<img class="absolute section4-img" src="${require(`./img/garlic-2.png`)}" alt="Garlic">
					<div class="section-bg brush-white-up"></div>

									<div class="container">
				                    	<div class="section5">
				                    		<h1 class="h1 inline-x-c c-white">Jaunumi</h1>
				                    		<div class="news row">

												<figure class="col col-xl-4 col-lg-4 col-md-4 col-12 news-item">
													<div class="section-bg news-img news-img-1"></div>
													<h2 class="h2 c-default all-caps">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
													<p class="p p-small c-white">Praesent eu porttitor nunc, sed finibus felis. Vivamus suscipit felis augue, eu ullamcorper justo maximus eget. Integer eget neque semper, aliquam lacus in...</p>
													<time class="time">2018.05.18</time>
												</figure>
												<figure class="col col-xl-4 col-lg-4 col-md-4 col-12 news-item">
													<div class="section-bg news-img news-img-2"></div>
													<h2 class="h2 c-default all-caps">Vestibulum ut tincidunt turpis, ut bibendum nisi.</h2>
													<p class="p p-small c-white">Praesent eu porttitor nunc, sed finibus felis. Vivamus suscipit felis augue, eu ullamcorper justo maximus eget. Integer eget neque semper, aliquam lacus in...</p>
													<time class="time">2018.05.18</time>
												</figure>
												<figure class="col col-xl-4 col-lg-4 col-md-4 col-12 news-item">
													<div class="section-bg news-img news-img-3"></div>
													<h2 class="h2 c-default all-caps">In hac habitasse platea dictumst. Nulla facilisi. Interdum et malesuada fames ac ante.</h2>
													<p class="p p-small c-white">Praesent eu porttitor nunc, sed finibus felis. Vivamus suscipit felis augue, eu ullamcorper justo maximus eget. Integer eget neque semper, aliquam lacus in...</p>
													<time class="time">2018.05.18</time>
												</figure>

											</div>
										</div>
									</div>

									<aside id="news-aside" class="container news-aside">
												<div class="row flex-x-c">
													<div class="col col-xl-10 col-lg-11 col-md-11 shadow ico-bg-mob section-bg-desk">
														<div class="row bg-default">
															<div class="inner flex-inline bg-default">
																<h2 class="h2 col-xl-5 col-lg-5">Pieraksties jaunumiem</h2>
																<div class="ol-wrap col-xl-7 col-lg-7">
																	<h3 class="h3 all-caps">Ķiploku aprūpe - būtiska ir informācijas apmaiņa, piesakies jaunumiem un saņem jaunāko informāciju par to ko esam uzzinājuši mēs:</h3>
																	<ol class="ol list-style-none">
																		<li class="li">Jaunumi par AAL</li>
																		<li class="li">Novērojumi uz lauka - slimības, kaitēkļi, šķirņu augšanas specifika</li>
																		<li class="li">Novākšana</li>
																		<li class="li">Informatīvie semināri, tehnikas prezentācijas utt.</li>
																		<li class="li">Ražas iepirkšana no zemniekiem</li>
																	</ol>
																</div>
															</div>
														</div>


														<div class="row bg-white">
															<form class="aside-email col-xl-12 col-lg-12 all-caps flex">
																<div class="col-xl-4 col-lg-4">
																    <legend class="form-legend bold">Jūs esat:</legend>
																    <div class="flex-inline radio-inputs">
																	    <label class="input-container" for="zemnieks">Zemnieks
																	    <input type="radio" id="zemnieks" value="zemnieks" name="profession" checked>
																	    <span class="checkmark"></span>
																	    </label>

																        <label class="input-container" for="tirgotajs">Tirgotājs
																        <input type="radio" id="tirgotajs" value="tirgotajs" name="profession">
																        <span class="checkmark"></span>
																        </label>
																    </div>
															    </div>

															    <div class="col-xl-8 col-lg-8 col-12">
																    <legend class="section5-form-legend bold">E-pasta adrese:</legend>
																    	<div class="flex email-input-wrap">
																        	<input id="email-input" class="email-input error col-xl-8 col-lg-8 col-md-7 col-12" type="email" name="email" required>
																        	<p class="flex-y-c col-12 error-text">Šis ir errors!</p>
																        	<input class="btn-1 normal" type="submit" value="Pierakstīties">
																        </div>
															    </div>

															</form>
														</div>
													</div>

												</div>

										</aside>

				</section>

				<section id="kontakti" class="section6 bg-default">
					<div class="container section-inner-padding">
						<h1 class="h1 section6-h1 inline-x-c">Kontakti</h1>
	                    	<div class="row flex-x-c">                		
		                    		<div class="col col-xl-4 col-lg-4 col-md-4 col-12 contact-item">
		                    			<div class="flex-y-c h2-wrap margin-auto">
											<h2 class="h2 all-caps margin-auto inline-x-c">Sadarbība ar zemniekiem</h2>
										</div>
												<figure class="inline-x-c">
													<div class="contact-img-wrap contact-img-wrap-1 flex-x-c">
														<div class="contact-img section-bg" style="background-image: url('${require(`./img/maris-linde.png`)}');"></div>
												    </div>
												    <figcaption>
												    	<ul class="list-style-none">
													    	<li class="all-caps bold">Māris Linde</li>
															<li><a href="tel:+37129290101" class="a">+371 29290101</a></li>
															<li><a href="mailto:ml@apiagro.com" class="a">ml@apiagro.com</a></li>
														</ul>
													</figcaption>
												</figure>
									</div>

									<div class="col col-xl-4 col-lg-4 col-md-4 col-12 contact-item">
										<div class="flex-y-c h2-wrap margin-auto">
											<h2 class="h2 all-caps margin-auto inline-x-c">Sadarbība ar tirgotājiem un HORECA sektoru</h2>
										</div>
												<figure class="inline-x-c">
													<div class="contact-img-wrap contact-img-wrap-2 flex-x-c">
														<div class="contact-img section-bg" style="background-image: url('${require(`./img/aldis-tripans.png`)}');"></div>
													</div>
												    <figcaption>
												    	<ul class="list-style-none">
													    	<li class="all-caps bold">Aldis Tripāns</li>
															<li><a href="+37129290101" class="a">+371 29290101</a></li>
															<li><a href="mailto:at@apiagro.com" class="a">at@apiagro.com</a></li>
														</ul>
													</figcaption>
												</figure>
									</div>

									<div class="col col-xl-4 col-lg-4 col-md-4 col-12 contact-item">
										<div class="flex-y-c h2-wrap margin-auto">
											<h2 class="h2 all-caps margin-auto inline-x-c">Sadarbība ar Pāstrādātājiem</h2>
										</div>
												<figure class="inline-x-c">
													<div class="contact-img-wrap contact-img-wrap-3 flex-x-c">
														<div class="contact-img section-bg" style="background-image: url('${require(`./img/kaspars-zvaigzne.png`)}');"></div>
													</div>
												    <figcaption>
												    	<ul class="list-style-none">
													    	<li class="all-caps bold">Kaspars Zvaigzne</li>
															<li><a href="+37129290101" class="a">+371 29290101</a></li>
															<li><a href="mailto:kz@apiagro.com" class="a">kz@apiagro.com</a></li>
														</ul>
													</figcaption>
												</figure>
									</div>
							</div> 
					</div>
				</section>

				<section class="contact-bottom-bg">
					<div class="section7-container">
						<div class="row flex-x-c-md">
							<div class="section7-left col col-xl-5 col-lg-5 col-md-6 col-sm-10 col-xs-12 flex-x-r-lg flex-x-c">
								<div class="col-xxl-6 col-xl-9 flex-x-c-xxs">
									<address class="section7-address col-xs-10">
										<ul class="list-style-none">
											<li>SIA "Api Agro"</li>
											<li>Cēsu iela 31, k-3, Rīga, Latvija, LV-1012</li>
											<li class="bold"><a href="tel:+37129290101" class="a">+371 29290101</a></li>
											<li class="bold"><a href="mailto:api@agro.lv" class="a">api@agro.lv</a></li>
										</ul>
									</address>

									<form class="flex-t-column col-xs-10">
										<legend class="contact-form-legend bold all-caps">Sazinies ar mums</legend>
										<input class="contact-form-input" type="text" id="fname" name="firstname" placeholder="Vārds" required>
										<input class="contact-form-input error" type="email" id="email" name="email" placeholder="E-pasts" required>
										<p class="error-text">Šis ir errors!</p>
										<textarea class="contact-form-input question" type="text" id="subject" name="subject" placeholder="Jautājums" required></textarea>
										<button class="btn btn-1 contact-form-btn" type="submit">Aizsūtīt</button>
									</form>
									</div>
							</div>
							<div class="col-xl-7 col-lg-7 col-12">
								<div id="acf-map" class="google-map">
									<div class="marker" data-lat="56.966129" data-lng="24.141866"></div>
								</div>
							</div>
						</div>
					</div>
				</section>

			</main>
            <!-- /site content -->

<%= require('html-loader!./footer.html') %>