/* Site content */

// General
.site-content { 
	padding-top: 140px;
}

.btn-1 {
  min-width: 223px;
  padding: 10px;
  color: $c_white;
  background-color: $c_accent;
  overflow: hidden;
  text-decoration: none;
  text-transform: uppercase;
  @extend .h5;
}

.btn-1:focus,
.btn-1:hover,
.btn-1:active {
  color: #fff;
  background-color: $c_accent;
}

.border-brown { border: 5px solid $c_accent; }

.about { height: 350px; }
.section-inner { padding: 40px 25px 30px; }
.brush-bottom { width: 100%; }


.section-inner-padding { padding: 60px 0; }
.time-color { color: #948F8C; }
.contact-bottom-bg { background: #FEE46E; }
.news-img { height: 300px; }